---
layout: default
title : Services for Static Sites
---
<section>
  <h2> Services for Static Sites </h2>

	<ul>
    {% assign categories = site.static_site_services | group_by:"category" %}

    {% for current_category in categories %}
      <h4>{{current_category.name}}</h4>
      {% for service in site.static_site_services %}
        {% if service.category == current_category.name %}
    			<li>
    				<a href="{{service.link}}">
              <img src="{{service.image_path}}" alt="{{service.name}}" />
              {{service.name}}
    				</a>
    			</li>
        {% endif %}
  		{% endfor %}
    {% endfor %}

	</ul>
</section>
