{% assign items = "" | split:"|"	%}

{% for cast_category in site.cast_categories %}
	{% for category in site.categories %}
		{% if category[0] == cast_category %}
			{% assign casts = category[1] | sort: 'order' %}
			{% for cast in casts %}
				{% assign items = items | push: cast %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endfor %}


{% assign previous = false %}
{% assign found = false %}

<div class="prev-next">
	{% for cast in items %}
		{% unless found %}
			{% if cast.category == page.category and cast.order == page.order %}
				{% assign found = true %}
				{% if previous %}
					<a href="{{ previous.url }}">Previous Cast</a>
				{% endif %}
			{% endif %}
			{% assign previous = cast %}
		{% else %}
			<a href="{{ cast.url }}">Next Cast</a>
			{% break %}
		{% endunless %}
	{% endfor %}
</div>
