---
layout: default
---

{% if page.url == '/' or page.url contains '/guide/' %}
	{% assign section = 'Guide' %}
	{% assign items = site.guide | sort: 'order' %}
{% elsif page.url contains '/tutorials/' %}
	{% assign section = 'Tutorials' %}
	{% assign items = site.tutorials %}
{% elsif page.url contains '/services/' %}
	{% assign section = 'Services' %}
{% endif %}

<section class="main">
	<div class="content-box">
		<h1>{{ section }}</h1>

		{% if items %}
			{% include section-nav.html items=items %}
		{% endif %}

		<article class="content contains-screenshots">
			<h2>{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h2>
			{{ content }}

			{% include disqus.html %}
		</article>
	</div>
</section>
