---
layout: default
---
{% assign guide_items = site.guide | sort: 'order' %}

{% for guide_item in guide_items %}
  {% if guide_item.title == page.title %}
    {% assign current_index = forloop.index0 %}

    {% unless forloop.first %}
      {% assign prev_index = forloop.index0 | minus: 1 %}
      {% assign prev_guide = guide_items[prev_index] %}
    {% endunless %}

    {% unless forloop.last %}
      {% assign next_index = forloop.index0 | plus: 1 %}
      {% assign next_guide = guide_items[next_index] %}
    {% endunless %}
  {% endif %}
{% endfor %}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/zenburn.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script>
$(document).ready(function() {
  $('pre').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
<h2>{{current_index | plus: 1}}. {{page.title}}</h2>
<section>
  <div class="guide">
    {% if prev_guide %}
      <p>Previously in this guide - <a href="{{prev_guide.url}}"><strong>{{prev_index | plus: 1}}. {{prev_guide.title}}</strong></a></p>
    {% endif %}

    {{content}}

    {% if next_guide %}
      <p>Next in this guide - <a href="{{next_guide.url}}"><strong>{{next_index | plus: 1}}. {{next_guide.title}}</strong></a></p>
    {% endif %}
  </div>
</section>
